* {
  margin: 10px;
  border-radius: 6px;
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  text-align: center;
  vertical-align: top;
}
h1 {
  color: rgb(0, 120, 255);
}
main {
  justify-content: space-evenly;
}
.interface {
  background-color: rgb(61, 61, 61);
}
.createPost {
  background-color: rgb(105, 105, 105);
}
.confirming {
  background-color: red;
}
.description {
  min-width: 400px;
}
.idea {
  background-color: rgb(105, 105, 105);
  display: block;
}
p,
h2 {
  background-color: rgb(105, 105, 105);
}
label {
  padding: 5px;
  background-color: rgb(105, 105, 105);
}
button {
  padding: 3px;
}
